.page {
  height: 100%;
  padding-left: 186px;
}

.pageSideMenu {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 186px;
  height: 100%;
  padding: 20px 20px 50px;
  background-color: black;
}
